beautifulsoup4==4.10.0
kcu==0.0.73
kstopit==0.0.16
kyoutubescraper==0.0.2
noraise==0.0.16
selenium==4.0.0
selenium-browser==0.0.12
selenium-chrome==0.0.29
selenium-firefox==2.0.8
selenium-uploader-account==0.2.3
setuptools==67.8.0
xpath-utils==0.0.3